//IMPORTS//

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
//END IMPORTS//

//COLORS IN PROJECT//

//Simple
$color-1: rgb(40, 40, 40);
$color-2: rgb(150, 150, 150);
$color-3: rgb(255, 255, 255);
$color-4: rgb(238, 198, 129);
$color-5: rgb(171, 145, 98);

$color-sh-1: rgb(245, 223, 182);

$color-gr-1-1: rgb(30, 30, 30);
$color-gr-1-2: rgb(70, 70, 70);
$color-gr-2-1: rgb(247, 205, 134);
$color-gr-2-2: rgb(153, 130, 78);

//Gradient
$gradient-1h: linear-gradient(180deg, $color-gr-1-1, $color-gr-1-2);
$gradient-1v: linear-gradient(270deg, $color-gr-1-1, $color-gr-1-2);
$gradient-1-h: linear-gradient(0deg, $color-gr-1-1, $color-gr-1-2);
$gradient-1-v: linear-gradient(90deg, $color-gr-1-1, $color-gr-1-2);

$gradient-2h: linear-gradient(180deg, $color-gr-2-1, $color-gr-2-2);
$gradient-2v: linear-gradient(270deg, $color-gr-2-1, $color-gr-2-2);
$gradient-2-h: linear-gradient(0deg, $color-gr-2-1, $color-gr-2-2);
$gradient-2-v: linear-gradient(90deg, $color-gr-2-1, $color-gr-2-2);

//Shadow
$shadow-1: 0 0 1em $color-sh-1;
$shadow-1: 0 0 0.5em $color-sh-1;

//Clr
.clr-1 {
	color: $color-1;
}
.clr-2 {
	color: $color-2;
}
.clr-3 {
	color: $color-3;
}
.clr-4 {
	color: $color-4;
}
.clr-5 {
	color: $color-5;
}

//END COLORS IN PROJECT//

//FONTS//

//Family
$font-1: "Merriweather", serif;
$font-2: "Source Sans Pro", sans-serif;

//Sizes
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h4,
p,
a,
ul,
li,
u {
	font-size: 1em;
}
h5 {
	font-size: 0.83em;
}
h6 {
	font-size: 0.75em;
}

.h1 {
	font-size: 2em;
}
.h2 {
	font-size: 1.5em;
}
.h3 {
	font-size: 1.17em;
}
.h4 {
	font-size: 1em;
}
.h5 {
	font-size: 0.83em;
}
.h6 {
	font-size: 0.75em;
}
.hs1 {
	font-size: 3em;
}
.hs2 {
	font-size: 2.75em;
}
.hs3 {
	font-size: 2.5em;
}
.hs4 {
	font-size: 2.25em;
}

//Types
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-2;
	font-weight: bolder;
	color: $color-4;
}
p,
a,
li,
u,
ul {
	font-family: $font-1;
	color: $color-2;
}

.clip {
	display: block;
	background: $gradient-2-v;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.light {
	color: $color-3;
}

.font-1 {
	font-family: $font-1;
}
.font-2 {
	font-family: $font-2;
}
.bolder {
	font-weight: bolder;
}
.italic {
	font-style: italic;
}
.center {
	text-align: center;
}

//END FONTS//

//GADGETS//

//Social box
.social-box {
	display: flex;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	width: 12em;
	max-width: 300px;
	flex-wrap: wrap;
	overflow: hidden;
}
//Social icon
.social-icon {
	margin: 0.25em;
	transition: 0.25s;
	color: $color-5;
	display: block;
	height: 1.75em;
	width: 1.75em;
	padding: 0.15em;
	border-style: solid;
	position: relative;
	i {
		font-size: 1.25em;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:hover,
	&:active {
		color: $color-sh-1;
		text-shadow: $shadow-1;
	}
}

//logo
.logo {
	position: absolute;
	font-size: 1em;
	width: 15em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 40%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);

	.logo-first {
		font-weight: normal;
		transition: 0.25s;
		font-family: $font-2;
		font-size: 4.5em;
		margin: -0.5em;
		display: inline;
		background: $gradient-2-v;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.logo-second {
		font-weight: normal;
		font-family: $font-2;
		font-size: 1.2em;
		transition: 0.25s;
		margin: 0;
		margin-top: 0.25em;
		color: $color-4;
	}
	svg {
		transition: 00.25s;
		margin: 0;
		width: 100%;
		height: auto;
		rect {
			fill: none;
		}
		path {
			transition: 0.25s;
			fill: $color-4;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	&:hover,
	&:active {
		svg {
			transform: translateY(1em);
		}
		.logo-first {
			text-shadow: $shadow-1;
		}
		.logo-second {
			transform: translateY(-0.75em);
		}
	}
}

//first slide
.first-top {
	overflow: hidden;
	position: relative;
	display: block;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	color: $color-4;
	height: 80vh;
	width: 90vw;
	max-width: 1600px;
	max-height: 1000px;
	background: url(../img/back-city-50.jpeg);
	background-size: cover;
}
//slide
.slide {
	display: block;
	margin: 1em;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	width: 90vw;
	max-width: 1600px;
	background-color: $color-1;
	padding-bottom: 2em;
	color: $color-4;
}

//action text
.action-text {
	position: relative;
	display: block;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	height: 15em;
	max-width: 1600px;
	text-align: ce;
	.action-first {
		opacity: 1;
		transition: 0.75s;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2em;
		color: $color-4;
	}
	.action-second {
		opacity: 0;
		transition: 0.75s;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -80%) scale(0.75);
		font-size: 2em;
		color: $color-2;
	}
	&:hover,
	&:active {
		.action-first {
			opacity: 0.5s;
			color: $color-2;
			transform: translate(-100%, -80%) scale(0.65);
		}
		.action-second {
			opacity: 1;
			color: $color-4;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

//flex for two
.reverse {
	flex-direction: row-reverse;
}
.flex-two {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1024px;
	width: 90%;
	margin: auto;
	margin-bottom: 1em;
	flex-wrap: wrap;

	.div-img {
		display: block;
		overflow: hidden;
		width: 45%;
		height: auto;
		color: $color-5;
		border-style: solid;
		min-width: 200px;
		img {
			transition: 0.5s;
			filter: grayscale(1);
			transform: scale(1.05);
			width: 100%;
		}
		&:hover,
		&:active {
			img {
				filter: grayscale(0);
				transform: scale(1.1);
			}
		}
	}
	.div-cont {
		width: 45%;
		min-width: 200px;
	}
	@media only screen and (max-width: 600px) {
		flex-direction: column;
		.div-img {
			width: 90%;
		}
		.div-cont {
			width: 90%;
		}
	}
}

//guide
.guide-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1024px;
	width: 90%;
	margin: auto;
	margin-bottom: 1em;
	flex-wrap: wrap;
}
.guide {
	transition: 0.25s;
	width: 300px;
	min-height: 500px;
	text-align: center;
	border-style: solid;
	//box-shadow: $shadow-1;
	background: $color-1;
	color: $color-4;
	margin: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	.guide-ico {
		transition: 0.25s;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 12em;
		margin: 1em;
		//border-style: solid;
		//box-shadow: $shadow-1;
		background: $color-1;
		color: $color-1;
		i {
			transition: 0.25s;
			font-size: 8em;
			margin-top: 0.1em;
			margin-bottom: 0.1em;
			background: $gradient-2-v;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	h3 {
		margin: 1em;
	}
	p {
		transition: 0.25s;
		text-align: justify;
		color: $color-2;
		margin: 1em;
	}
	&:hover,
	&:active {
		//color: $color-sh-1;
		//.guide-ico{color: $color-sh-1;}
		i {
			text-shadow: $shadow-1;
		}
		//p{color: $color-3;}
	}
}

//google form
.contacts-form {
	display: block;
	margin: 1em;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;

	width: 90vw;
	max-width: 1600px;

	padding-bottom: 2em;

	p {
		text-align: center;
	}
}
//END GADGETS//

html {
	color: $color-2;
	background: $gradient-1h;
	overflow-x: hidden;
}
body {
	margin: 0 auto;
}
footer {
	width: 100vw;
	background-color: $color-1;
	border-top-style: solid;
	border-color: $color-4;
	div {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	p {
		margin: 10px;
	}
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

#alwaisonscreen {
	padding: 5px;
	background-color: $color-1;
	font-size: 30px;
	cursor: pointer;
	z-index: 2;
	position: fixed;
	left: 10px;
	bottom: 10px;

	color: $color-5;
	display: block;
	border-style: solid;
	i {
		font-size: 1.25em;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:hover,
	&:active {
		color: $color-sh-1;
		text-shadow: $shadow-1;
	}
}
